<!DOCTYPE html>
<html>
  <head>
    <title>Student OS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="app">
      <aside class="sidebar">
        <div class="sidebar__title">Student OS</div>
        <%= link_to "Homework", homework_path,
              class: "sidebar__link #{current_page?(homework_path) || current_page?(root_path) ? 'sidebar__link--active' : ''}" %>
        <%= link_to "Tests", tests_path,
              class: "sidebar__link #{current_page?(tests_path) ? 'sidebar__link--active' : ''}" %>
        <%= link_to "Volunteer", volunteer_path,
              class: "sidebar__link #{current_page?(volunteer_path) ? 'sidebar__link--active' : ''}" %>
        <%= link_to "Extracurriculars", extracurriculars_path,
              class: "sidebar__link #{current_page?(extracurriculars_path) ? 'sidebar__link--active' : ''}" %>
      </aside>
      <main class="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
